
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <a class="navbar-brand" routerLink="#">SISTA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
         <!-- Dropdown -->
    

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Gestion de dommaine
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Recherche</a>
        <a class="dropdown-item" href="#">Saisie de données</a>
        
      </div>
    </li>
      
        
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestion des intervenants
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Structures</a>
            <a class="dropdown-item" href="#">Supperviseurs</a>
            
          </div>
         </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Annalyse des donées
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Graphique</a>
            <a class="dropdown-item" href="#">Cartographie</a>
            
          </div>
         </li>

         
       
      </ul>
      <div class="form-inline my-2 my-lg-0">
      
      <ul class="navbar-nav mr-auto">
  
       <!-- <li class="nav-item" *ngIf="this.authService.isLoggedIn">
         <--- <div class="icon-wrapper">
            <a class="nav-link"   routerLink="['user/profil/','messageNonLus.idUser']" routerLinkActive="active" >
              <i class="far fa-comment fa-5x fa-border icon-blue"></i>
                <span class="badge">{{messageNonLus.msgNonLu}}</span>
            </a>
          </div>
        </li>-->
        
        
         <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="#">
            <i class="far fa-user "></i>
            Login
          </a>
         </li>
        
        
        <li class="nav-item">
         
        
  
        </li>
        
      </ul>
    </div>
    </div>
  </nav>
  
  <br>
  
  <router-outlet></router-outlet>
  