<div class="container">
    <h2 style="margin-bottom: 50px;">Détails des informations relatives à la collecte </h2>
<div>
<h6>Données d'identification</h6>
<table style="margin-bottom: 30px;" class="table table-bordered table-sm ">
    <thead class="bg-primary">
        <tr>
            <th>Numéro d'identification</th>
            <th>Sex</th>
            <th>Nationnalite</th>
            <th>Situation MAT</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="indetification">
            <td>{{indetification.numeroidentification}}</td>
            <td>{{indetification.sex}}</td>
            <td>{{indetification.nationnalite}}</td>
            <td>{{indetification.situationmaretal}}</td>
            
        </tr>
    </tbody> 
    
</table>
<br>
</div>
<div >
    <h6>Actions Comportementales</h6>
    <table class="table-responsive table-bordered ">
        <thead class="bg-primary">
            <tr>
                <th>Entretien indi</th>
                <th>causerie</th>
                <th>Orientation dépistage vih</th>
                <th>Orientation vers les soins d'IST</th>
                <th>Orientation dépistage Hp</th>
                <th>Outils IEC</th>
                <th>Outils utilisés</th>
                <th>Distrubition IEC</th>
                <th>Gels</th>
                <th>Thèmes</th>
                <th>Participation au groupe de parole</th>
                <th>Participation au repas communautaires</th>
                <th>Education thérapeutique</th>
                <th>Perdue de vue retrouvé</th>
                <th>Distibution de vidéo sur réseaux sociaux</th>
                <th>Orientation vers la PTME</th>
                <th>Orientation vers les soins de la médecine générale</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of comportementalValues">
                <td>{{value.entretienindivid}}</td>
                <td>{{value.causerie}}</td>
                <td>{{value.orientation}}</td>
                <td>{{value.aide_social}}</td>
                <td>{{value.dep_hp}}</td>
                <td>{{value.outils_iec}}</td>
                <td>{{value.outils_util}}</td>
                <td>{{value.distribution}}</td>
                <td>{{value.gels}}</td>
                <td>{{value.thems}}</td>
                <td>{{value.participationGP}}</td>
                <td>{{value.particioationRC}}</td>
                <td>{{value.educationThe}}</td>
                <td>{{value.perduedevue}}</td>
                <td>{{value.distributionvideo}}</td>
                <td>{{value.orientationversPTME}}</td>
                <td>{{value.orientationVersSoin}}</td>
            </tr>
        </tbody> 
        
    </table>
</div>
</div>