

.val{
    thead th {
        font-size: 0.8em;
        padding: 1px !important;
        height: 50px;
      }
} 

h2{
  text-align: center;
  margin-bottom: 50px;
}

small{
 margin: 2px;
 font-weight: bold;
 display: inline-table;
} 

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th{
  text-align: left;
  margin: 10px;
}


.theclasse th{
  white-space: nowrap;
}

.form-row{
  margin-bottom: 3px;
}

td{
  width: 10px;
  text-align: left;
}
 
.nav-tabs {
  display:none;
}

@media(min-width:768px) {
  .nav-tabs {
      display: flex;
  }
  
  .tab-content .card {
    border: none;
 }

  .card .card-header {
      display:none;
  }  

  .card .collapse{
      display:block;
  }
}

@media(max-width:767px){
  .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
  }
}

